
.main{
    width: 95%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 128px;
    align-items: center;
    background-color: #002D2D;
}